*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*body{
  width: 100%;
  min-height: 100%;
}

html{
  position: relative;
}*/

body, button, h1,h2,h3,h4,h5,a, .modal-title, #login-form,#signup-form{
  /*font-family: 'Helvetica Neue', arial, sans-serif;*/
  font-family: 'Righteous', cursive;
  font-size: 1.1em; 
}
input, select, label, textarea,p, .filter, .mix, .sideMenuWrapper,#login-form,#signup-form{
  font-family: 'Signika', sans-serif;
}
.navbar-text{
  color:#A3A3A3;
  font-size: 1.1em;
}

.navbar-link{
  padding-left: 7px;
}

#upload_text{
  display: inline-block;
  font-family: 'Righteous', cursive;
}

.modal-title{
  text-align: center;
}

.home_title{
  font-family: 'Righteous', cursive;
  font-size: 2.2em;
}

.sideTrigger{
  right: 10px;
  font-size: 1.5em;
}


#navbar{
   background-color: #292c2f;
   /*width: 100%;*/
   padding: 10px 20px;
   border-radius: 0;
   /*padding: 1%;*/
}
#navbar a{
   color:  #69D2E7;

}
.navbar .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #292c2f;
    /*color: #FFC0CB;*/
}


#login-form, #signup-form{
  /*float: none;*/
  margin-left:25%;
  margin-right: 25%;
}



/*Mixitup */
.img_thumb {
  max-width: 100%;
  max-height: 100%;
}

.mix_controls{
  padding: 0.5%;
  padding-left: 25px;
  background: #333;
  color: #eee;

}

label{
  /*font-weight: 300;*/
  margin: 0 .4em 0 0;
  font-size: 1.1em;
}

button{
  display: inline-block;
  padding: .2em .4em;
  background: #666;
  border: 0;
  color: #ddd;
  font-size: 11px;
  font-weight: 300;
  border-radius: 4px;
  cursor: pointer;
}

button.active{
  background: #68b8c4;
}

button:focus{
  outline: 0 none;
}

button:hover{
  background: #03899c;
}

button + label{
  margin-left: 1em;
}

.mix_library{
  margin-top: -55px;
}

.mix_container{
  padding: 2% 2% 0;
  text-align: justify;
  font-size: 1em;
  background: #292c2f;
  
  -webkit-backface-visibility: hidden;
}

.mix_container:after{
  content: '';
  display: inline-block;
  width: 100%;
}

.mix_container .mix,
.mix_container .gap{
  display: inline-block;
  width: 49%;
}

.mix_container .mix{
  text-align: left;
  background: #03899c;
  margin-bottom: 2%;
  display: none;
}

/*.mix_container .mix.category-dc{
  border-top: 2px solid limegreen;
}

.mix_container .mix.category-marvel{
  border-top: 2px solid yellow;
}
*/
.mix_container .mix:after{
  content: attr(data-myorder);
  color: white;
  font-size: 10px;
  display: inline-block;
  vertical-align: top;
  padding: 4% 6%;
  font-weight: 400;
}

.mix_container .mix:before .img_thumb{
  content: '';
  display: inline-block;
  padding-top: 2%;

}

@media all and (min-width: 420px){
  .mix_container .mix,
  .mix_container .gap {
    width: 10%;
  }
}

@media all and (min-width: 640px){
  .mix_container .mix,
  .mix_container .gap {
    width: 12%;
  }
}

.username-link{
  padding-right: 30px;
}

/*SLIDE IN UPLOADS MENU SIDEBAR*/

.sideMenu{
  font-family: Arial, Helvetica, sans-serif;
  /*float: left;*/
  width: 300px;
  top: 80px;
  position: fixed;
  z-index: 9999;
  right: -300px;
  height: 100%;
  /*width: 300px;*/
  background: #FFF;

  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.sideMenuWrapper{
  padding: 30px;
}

.sideOpen .sideMenu {
  right: 0;
}



/*CAROUSEL CHANGE THIS LATER*/

.carousel-inner {
  width: 20%;
}

.carousel-control{
  margin: 0 auto;
}

/*
.left .carousel-control{z-index: 9999}

.right .carousel-control{z-index: 9999}*/

.zoomContainer{ z-index: 9000;}
.zoomWindow{ z-index: 9000;}
/*
##########################
###########################*/

/*FOOTER*/
/*#################*/


.footer{
  padding-top: 10px;
}

.footer-distributed{

  /*bottom: 0;*/
  background-color: #292c2f;
  /*box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);*/
  /*box-sizing: border-box;*/
  width: 100%;
  text-align: left;
  font: normal 14px sans-serif;
  padding: 30px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left p{
  color:  #8f9296;
  font-size: 14px;
  margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
  font-size:16px;
  font-weight: bold;
  color:  #ffffff;
  margin: 0 0 10px;
  padding: 0;
}

.footer-distributed p.footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-right{
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a{
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-left: 3px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

  .footer-distributed .footer-left,
  .footer-distributed .footer-right{
    text-align: center;
  }

  .footer-distributed .footer-right{
    float: none;
    margin: 0 auto 20px;
  }

  .footer-distributed .footer-left p.footer-links{
    line-height: 1.8;
  }
}
