*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, button{
  font-family: 'Helvetica Neue', arial, sans-serif;
}

.img_thumb {
  max-width: 100%;
  max-height: 100%;
}

.mix_controls{
  padding: 2%;
  background: #333;
  color: #eee;
}

label{
  font-weight: 300;
  margin: 0 .4em 0 0;
}

button{
  display: inline-block;
  padding: .4em .8em;
  background: #666;
  border: 0;
  color: #ddd;
  font-size: 12px;
  font-weight: 300;
  border-radius: 4px;
  cursor: pointer;
}

button.active{
  background: #68b8c4;
}

button:focus{
  outline: 0 none;
}

button + label{
  margin-left: 1em;
}

.mix_container{
  padding: 2% 2% 0;
  text-align: justify;
  font-size: 0.1px;
  background: #68b8c4;
  
  -webkit-backface-visibility: hidden;
}

.mix_container:after{
  content: '';
  display: inline-block;
  width: 100%;
}

.mix_container .mix,
.mix_container .gap{
  display: inline-block;
  width: 49%;
}

.mix_container .mix{
  text-align: left;
  background: #03899c;
  margin-bottom: 2%;
  display: none;
}

/*.mix_container .mix.category-dc{
  border-top: 2px solid limegreen;
}

.mix_container .mix.category-marvel{
  border-top: 2px solid yellow;
}
*/
.mix_container .mix:after{
  content: attr(data-myorder);
  color: white;
  font-size: 10px;
  display: inline-block;
  vertical-align: top;
  padding: 4% 6%;
  font-weight: 400;
}

.mix_container .mix:before .img_thumb{
  content: '';
  display: inline-block;
  padding-top: 2%;

}

@media all and (min-width: 420px){
  .mix_container .mix,
  .mix_container .gap {
    width: 10%;
  }
}

@media all and (min-width: 640px){
  .mix_container .mix,
  .mix_container .gap {
    width: 12%;
  }
}


/*SLIDE IN UPLOADS MENU SIDEBAR*/

.smenu{
  background: #47a3da;
  position: fixed;
}

.smenu h3{
  color: #afdefa;
  font-size: 1.9em;
  padding: 20px;
  margin: 0;
  font-weight: 300;
  background: #0d77b6;
}

.smenu a{
  display: block;
  color: #fff;
  font-size: 1.1em;
  font-weight: 300;
}

.smenu a:hover{
background: #258ecd;
}
.smenu a:active{
  background: #afdefa;
  color: #47a3da;
}

/*Sidebar Menu Orientation*/

.smenu-vertical{
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1000;
}
.smenu-vertical a{
  border-bottom: 1px solid #258ecd;
  padding: 1em;
}

/*Sidebar Push to the left from right side*/

.smenu-push{
  overflow-x: hidden;
  position: relative;
  left: 0;
}
.smenu-left{
  right: -240px;
}
.smenu-left .smenu-open{
  right: 0px;
}
.smenu .smenu-push .smenu-open{
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and(max-height: 26em){
  .smenu-vertical{
    font-size: 90%;
    width: 190px;
  }
  .smenu-left{
    left: -190px;
  }
}



/*CAROUSEL CHANGE THIS LATER*/

.carousel-inner {
  width: 20%;
}


/* Shrink wrap strategy 1 */
.easyzoom {
    float: left;
}
.easyzoom img {
    display: block;
}


