<!doctype html>
<html>
<head>
  <title>Comics</title>
  <link rel="stylesheet" href="static/css/styles.css" />
  <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

</head>

<body>


  <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Comic Shelf</a></li>
                    <li id="login_btn"><a href="/login">Login</a></li>
                    <li id="logout_btn"><a href="/logout">Logout</a></li>
                    <li id="signup_btn"><a href="/signup">Sign Up</a></li>
                    <!-- <li><a href="/addcomics">Add Comics</a></li> -->
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li class="nav pull-right"><a href="#">Profile</a></li>
                    <!-- <li><a href="#">Log In</a></li> -->
                    
                </ul>
            </div>


    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}


  {% block content %} put your content here {% endblock %}

  <script type="text/javascript" src="static/scripts/jquery.filedrop.js"></script>
  <script type="text/javascript" src="static/scripts/add_table_cells.js"></script>

</body>
</html>