<!doctype html>
<html>
<head>
  <title>Comics</title>
  <link rel="stylesheet" href="static/css/bootstrap-select.min.css" />
  <link rel="stylesheet" href="static/css/styles.css" />
  
  <link rel="stylesheet" href="static/bootstrap/css/bootstrap.css" />
  <!-- <link rel="stylesheet" href="static/css/styles.css" /> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


  <link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Signika' rel='stylesheet' type='text/css'>


<!--   <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/> -->
  <script src="static/scripts/jquery.min.js"></script>  
  <!-- // <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script> -->
  <script src="static/scripts/jquery-ui.js"></script>
  <script src="static/scripts/jquery.mixitup.min.js"></script> 
  <script src="static/scripts/jquery.elevateZoom-3.0.8.min.js"></script>
  <script src="static/scripts/bootstrap-select.min.js"></script>
  <script src="static/bootstrap/js/bootstrap.min.js"></script>


  <!-- // <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> -->
  <!-- // <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script> -->
  <!-- // <script src="http://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js"></script> -->

</head>

<body class="smenu-push">

<div id="container">


    <div id="navbar" class="navbar navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active home_title"><a href="/">ComicShelf</a></li>
        {% if 'login_id' not in session %}
        <li id="signup_btn"><a href="/signup">Sign Up</a></li>
        <li id="login_btn"><a href="/login">Login</a></li>
        {% endif %}
        {% if 'login_id' in session %}
        <li id="logout_btn"><a href="/logout">Logout</a></li>
        {% endif %}
        <!-- <li><a href="/addcomics">Add Comics</a></li> -->
      </ul>
      <ul class="nav navbar-nav pull-right">
        {% if 'login_id' in session %}
        <li><p class="navbar-text navbar-right username-link">Signed in as <a href="/users/{{session['login_id'][2]}}" class="navbar-link">{{session['login_id'][3]}}</a></p></li>
        <li> </li>
        <li><a href="#" class="sideTrigger"><i class="fa fa-upload"></i></a></li>
        {% endif %}
      </ul>
    </div>  <!-- /.END OF NAVBAR -->




<!--     {% if 'login_id' not in session %}
    <h3>Log In to see your ComicShelf</h3>
    {%endif%} -->


<!--     {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %} -->





  {% block content %} put your content here {% endblock %}



  <script type="text/javascript" src = "static/scripts/mixitup_comics.js"></script>
  
  <script type="text/javascript" src = "static/scripts/comic_viewer_modal.js"></script>

  <script type="text/javascript" src="static/scripts/add_table_cells.js"></script>

<!-- end of main div container -->
</div>  



<footer class="footer">
  <div class="footer-distributed">

    <div class="footer-right">

      <a href="https://www.facebook.com/AgentR3D"><i class="fa fa-facebook"></i></a>
      <a href="https://twitter.com/paromi"><i class="fa fa-twitter"></i></a>
      <a href="https://www.linkedin.com/in/paolasocorro"><i class="fa fa-linkedin"></i></a>
      <a href="https://github.com/paolasocorro"><i class="fa fa-github"></i></a>

    </div>

    <div class="footer-left">

      <p class="footer-links">
        <a href="/">Home</a>
        ·
        <a href="https://girlncode.wordpress.com/">Tech Blog</a>
        ·
        <a href="http://nightowli.tumblr.com/">Art Blog</a>
        ·
        <a href="pao.socorro@gmail.com">Contact</a>
      </p>

      <p>Paola Socorro &copy; 2015</p>
    </div>

  </div>
</footer>

</body>




{% if 'login_id' in session %}

    <div class="sideMenu" alt="upload menu">
      <nav class="sideMenuWrapper">

        <div >
          <h3 id="upload_text">Upload</h3>
          <!-- <a href="#" class="closeTrigger"><i class="fa fa-times"></i></a> -->
        </div>


        <form action="upload" method="post" enctype="multipart/form-data">
            
            <div class="form-group">
                <label>Publishers:</label>
                <select name="publishers" class="selectpicker">
                    {% for pub in publishers%}
                        <option value="{{pub.name}}">{{pub.name}}</option>
                    {%endfor%}
                </select>
            </div>


            <div class="form-group">
              <label>Genres:</label>
              <select name="genres" class="selectpicker">
              {% for gen in genres%}
                  <option value="{{gen.genre}}">{{gen.genre}}</option>
              {%endfor%}
              </select>
            </div>

            <div class="form-group">
              <span class="btn btn-default btn-file">
                  <input type="file" multiple name="file[]">

              <!-- <input class="btn btn-default btn-primary"  type="submit" value="  Upload Comics "> -->
            </div>
            <div class="form-group">
              <input class="btn btn-default btn-primary"  type="submit" value="  Upload Comics ">
            </div>


        </form> <!-- /.FORM -->
      </nav>
    </div>

  

{%endif%}


</html>