{% extends 'base.html' %}
{% block content %}



    {% if 'login_id' in session %}
        <br /><br />

<!-- MIXITUP CONTAINER -->
    <div class="mix_library">
        
        <div class="mix_controls">
            <div>
                <label>Filter:</label>
                <button class="filter" data-filter="all">All</button>

            <!-- <button class="filter" data-filter=".category-1">Category 1</button> -->
            {%for book in mix_titles%}

                <button class="filter" data-filter=".category-{{book[0]}}">{{book[1]}}</button>

            {%endfor%} <!-- END OF FORLOOP IN MIX_CONTROLS --> 
            {%for pub in mix_publishers%}

                <button class="filter" data-filter=".category-{{pub[0]}}">{{pub[1]}}</button>

            {%endfor%} <!-- END OF FORLOOP IN MIX_CONTROLS --> 
            </div> <!-- /END OF Filter Tag -->
            <br>
            <div>
                <label>Sort:</label>

                <button class="sort" data-sort="myorder:asc">Asc</button>
                <button class="sort" data-sort="myorder:desc">Desc</button>
            </div> <!-- /.END OF SORT TAG -->

        </div> <!-- END OF MIX CONTROLS DIV -->



        <div id="Mix_Container" class ="mix_container" >


        {%for book, pub in up_books%}

            <div class="mix category-{{book.title_short}} category-{{pub.name_short}} comic_div" data-myorder="{{book.title}} - # {{book.issue_number}}" >
                <a href= "#" data-target="#myModal" class="comicopen" data-show="modal" role="button"><img class="img_thumb" alt="{{book.title}} - Issue: {{book.issue_number}}" src="{{book.coverimage_path}}" data-source="{{book.comicfolder_path}}"></a>
            </div>


        {%endfor%}  <!-- END OF FOR LOOP WITH UP_BOOKS -->
        <div class="gap"></div>
        <div class="gap"></div>


        </div><!-- END OF MIX CONTAINER DIV -->

    {%endif%}   <!-- END OF JINJA IF LOGIN CHECK -->
    </div> <!-- /.END OF MIX LIBRARY -->

<!-- MODAL COMIC VIEWER -->

    <div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
            <button id="magnify" type="button" class="btn btn-default" aria-label="Zoom"><i class="fa fa-search"></i></button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div> <!-- /.MODAL-HEADER -->

          <div class="modal-body">

            <!-- <img class="comicImg" src="" style="width: 100%;"> -->
            <div id="imgInModal">
                <!-- <p class="para">things</p> -->
                <form class="open_comic" action="/open_book" method="POST" >
                    <input type='hidden' name="random" id='modal_input' >
                </form>
            </div>


    <!--    _________________________________
            CAROUSEL IN MODAL 
            _____________________________________

     -->
            <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="false">
                      <!-- Indicators -->
              <ol class="carousel-indicators" id="comic_viewer">

              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
            
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div> <!-- /.END OF CAROUSEL -->

<!-- <i class="fa fa-angle-double-left"></i> -->

          </div> <!-- /.MODAL-BODY -->

 <!--          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>


          </div>  --><!-- /.MODAL-FOOTER -->
        </div><!-- /.MODAL-CONTENT -->
      </div> <!-- /.MODAL-DIALOG -->
    </div> <!-- /.MODAL -->






{% endblock %}