{% extends 'base.html' %}
{% block content %}



<!-- <h3>Add your book info</h3> -->


<br>
<form action="/addcomics">
    <table id="form_table" style="width:100%" class="table table-striped">
        <thead>
            <tr id="table_row_headers">
                <th>ID</th>
                <th>Title</th>
                <th>Year</th>
                <th>Issue Number</th>
                <th>Language</th>
                <th>Publisher</th>
            </tr>
        </thead>
        <tbody>
            <tr id="table_row">
                <td id="id">0</td>
                <td id="name">Comic Title</td>
                <td id="year">Year</td>
                <td id="issue">Issue #</td>
                <td id="lang">Language</td>
                <td id="publisher">Publisher</td>

            </tr>
        </tbody>
        <tfoot>
            
        </tfoot>
    </table>


<!-- <input type="file" id="open_file" multiple onchange="handleFiles(this.files)">
 -->
</form>

<br>
    <button type="submit" id="add_more">Add Rows</button>

    <button type="submit">Submit</button>
<br>
<br>

    <button type="submit" id="make_table">Add Comics</button> 
<br>
<br>

<!-- <form action="/upload" method='POST' enctype="multipart/form-data">

    <input type="file" id="open_file" multiple onchange="handleFiles(this.files)">
    <input type="submit" value="add" id="upload_files">

</form>  -->   

<!--     <div id="comicdrop" >

        <span class="message">Drop Comic Files here.</span>

    </div> -->


<form id="upload_comic" method="post" enctype="multipart/form-data">
    <fieldset>
        <label for="file">Select a file</label>
        <input name="file" type="file" id="open_file">
    </fieldset>
    <fieldset>
        <button id="upload_button" type="button">Upload</button>
    </fieldset>
</form>



{% endblock %}

