{% extends 'base.html' %}
{% block content %}

<h2>Add your book info</h1>

<br>
<form action="/addcomics">
    <table id="form_table" style="width:100%" class="table table-striped">
        <thead>
            <tr id="table_row_headers">
                <th>ID</th>
                <th>Title</th>
                <th>Year</th>
                <th>Issue Number</th>
                <th>Language</th>
                <th>Publisher</th>
            </tr>
        </thead>
        <tbody>
            <tr id="table_row">
                <td id="id">0</td>
                <td id="name">Comic Title</td>
                <td id="year">Year</td>
                <td id="issue">Issue #</td>
                <td id="lang">Language</td>
                <td id="publisher">Publisher</td>

            </tr>
        </tbody>
        <tfoot>
            
        </tfoot>
    </table>



</form>
<br>
    <button type="submit" id="add_more">Add Rows</button>

    <button type="submit">Submit</button>
<br>
<br>

    <button type="submit" id="make_table">Add Comics</button>



{% endblock %}

