{% extends 'base.html' %}
{% block content %}

<h2>Add your book info</h1>

<br>
<form action="/addcomics">
    <button type="submit" id="add_more">Add Comics</button>

    <table class="add_table">
        <div class="form-group">
            <tr id="table_row_labels">
                <td>Title</td>
                <td>Year</td>
                <td>Issue Number</td>
                <td>Language</td>
                <td>Publisher</td>
            </tr>
        </div>

        <div class="form-group">
            <tr id="table_row">
                <td><input type="text" name="title" placeholder="Batman Inc"></td>
                <td><input type="text" name="year" placeholder="2012"></td>
                <td><input type="text" name="issue_number" placeholder="22"></td>
                <td><input type="text" name="language" placeholder="English"></td>
                <td><input type="text" name="publisher" placeholder="DC"></td>
            </tr>
        </div>

    </table>
    <br>

    <button type="submit">Submit</button>
</form>




{% endblock %}