{% extends 'base.html' %}
{% block content %}

    {% if 'login_id' in session %}
     <p>PROFILE</p>

    

    <form class="form-signin" action="/open_book" method="POST" >

        <input type="text" name="random" id="input_test" >
        <br>
        <br>
        <button class="btn btn-lg btn-primary" type="button">Submit </button>
        <!-- <button class="btn btn-lg btn-primary" type="submit">Sign Up</button> -->
    </form>



    <div class="testDiv">
    </div>



    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators" id="comic_viewer">
     
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">


            
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div> <!-- /.END OF CAROUSEL -->


    {%endif%}
    

{% endblock %}