{% extends 'base.html' %}
{% block content %}

<div id="signup-form" class='row'>

    <h1 class="form-signin-heading">Sign up</h1>
     <br> 

    <div class="signup_message"></div>

    <form action="/signup" class="form-signin" method="POST">

              

        <div class="input-group input-group-lg margin-bottom-sm">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-user"></span>
            </span>
            <input class="form-control" type="name" name="name" placeholder="name" required autofocus>
        </div>

        <br> 
        <div class="input-group input-group-lg margin-bottom-sm">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-envelope"></span>
            </span>
            <input class="form-control" type="email" name="email" placeholder="Email" required>
        </div>
        <br> 

        <div class="input-group input-group-lg margin-bottom-sm">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-lock"></span>
            </span>
            <input class="form-control" type="password" name="password" placeholder="Password" required>
        </div>

        <br>       
        <button class="btn btn-lg btn-primary" type="submit">Sign Up</button>

    </form>

</div>

{% endblock %}